@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
:root{
--teal:#2D83A1;
--serpent:#61D2D1;
--orange:#fdaf67;
--salmon:#fd789d;
--magenta:#d108d6;
--indigo:#013088;
--gradient:linear-gradient(90deg, var(--orange), var(--salmon), var(--magenta));
--gradient2:linear-gradient(90deg, var(--magenta), var(--indigo));
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Rubik', sans-serif;
text-decoration: none; outline: none;
scroll-behavior: smooth;
}
*::selection{
background: var(--teal);
color: #fff;
}
html{
font-size: 62.5%;
overflow-x: hidden;
transition: 1s 0.7s ease-in-out;
}
body{
background:#f9f9f9;
}
section{
min-height:100vh;
padding:0 9%;
padding-top: 7.5rem;
}
.btn{
display: inline-block;
margin-top: 0.8rem;
padding:1rem 3rem;
border: none;
border-radius:5rem;
background: var(--gradient);
backdrop-filter: blur(5px);
font-size: 1.7rem;
font-weight: 500;
text-transform: uppercase;
color: white;
cursor: pointer;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
transition: all .3s linear;
}
.btn:hover{
transform: scale(1.1);
}
.fa-arrow-right{
font-size: 2rem;
margin-left: 1rem;
}
.heading{
text-align: center;
background: var(--gradient2);
color:transparent;
-webkit-background-clip: text;
background-clip:text;
font-size:3.5rem;
text-transform: uppercase;
padding:1rem;
text-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
pointer-events: none;
}
header{
position: fixed;
top: 0; left: 0;
padding: 2rem 9%;
width: 100%;
background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(5px);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
display:flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
transition: 2s ease;
}
header .logo{
font-size: 2.5rem;
font-weight: bold;
color:white;
text-shadow: 2px 2px 5px black;
text-transform: uppercase;
}
header .navbar a{
font-size: 1.8rem;
margin-left: 2rem;
color:white;
text-shadow: 2px 2px 5px black;
}
header .navbar a:hover{
color: var(--teal);
}
header input{
display: none;
}
header label{
font-size: 3rem;
color: white;
cursor: pointer;
visibility: hidden;
opacity: 0;
}
header label:hover{
color: var(--teal);
}
.home{
color: white;
display:flex;
align-items: center;
justify-content: center;
background: url(images/bg.jpg);
background-position: center;
}
.home .image img{
width: 40vw;
}
.home .content h3{
font-size: 5rem;
text-transform: uppercase;
pointer-events: none;
}
.home .content h3 span{
font-size: 8rem;
text-transform: uppercase;
}
.home .content p{
font-size: 1.7rem;
padding: 1rem 0;
pointer-events: none;
}
.custom-shape-divider-bottom-1639584489 {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
overflow: hidden;
line-height: 0;
}
.custom-shape-divider-bottom-1639584489 svg {
position: relative;
display: block;
width: calc(100% + 1.3px);
height: 100px;
}
.custom-shape-divider-bottom-1639584489 .shape-fill {
fill: #f9f9f9;
}
/** For mobile devices **/
@media (max-width: 767px) {
.custom-shape-divider-bottom-1639584489 svg {
width: calc(100% + 1.3px);
height: 55px;
}
}
.body-container{
background: url(images/body-bg.png);
background-size: auto 100%;
background-position: center;
padding-bottom: 5rem;
}
h1{
text-align: center;
}
/*Body Design*/
.features .box-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content:center;
margin: auto;
}
.features .box-container .box{
flex: 1 1 30rem;
background: #fff;
border-radius:1rem;
border: 1px solid rgba(0,0,0,.2);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
margin: 1.5rem;
padding:4rem 3rem;
text-align: center;
}
.features .box-container .box img{
height: 25rem;
transition: all 0.5s ease-in-out;
}
.features .box-container .box img:hover{
transform: translateY(-0.8rem);
}
.features .box-container .box h3{
font-size:2rem;
color: #333;
pointer-events: none;
margin-bottom: 0.5rem;
}
.features .box-container .box p{
font-size:1.5rem;
color: #666;
pointer-events: none;
text-align: justify;
}
.about .heading{
margin-bottom: 2%;
}
.about-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content:center;
margin: 2rem;
background: #fff;
border-radius:1rem;
border: 1px solid rgba(0,0,0,.2);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
padding:5rem;
}
.about-container img{
height:40rem;
text-align: center;
justify-content: center;
padding: 2rem;
transition: all 0.5s ease-in-out;
}
.about-container img:hover{
transform: translateY(-0.8rem);
}
.about-container h3{
font-size:4rem;
color: #333;
pointer-events: none;
margin-bottom: 2rem;
text-align: center;
}
.about-container p{
font-size:1.8rem;
color: #666;
pointer-events: none;
text-align: justify;
padding: 0 4rem;
}
.information{
  display:flex;
  flex-direction:row;
}
.information .about-container{
  display: flex;
  flex-direction: column;
  }
.footer{
background: linear-gradient(to bottom,#0b1b70,#01034d);
padding-top: 3rem;
}
.footer .box-container{
display: flex;
flex-wrap: wrap;
}
.footer .box-container .box{
flex: 1 1 25rem;
margin: 2rem;
}
.footer .box-container .box h3{
font-size:2.5rem;
padding: 1rem 0;
color: white;
text-decoration: underline;
text-underline-offset: 1rem;
}
.footer .box-container .box p{
color: white;
font-size:1.5rem;
padding: .5rem 0;
}
.footer .box-container .box a{
color: white;
display: block;
font-size:1.5rem;
padding: .5rem 0;
}
.footer .box-container .box a:hover{
color: white;
text-decoration: underline;
}
.footer .box-container .box .info{
color: white;
display: flex;
align-items: center;
}
.footer .box-container .box .info i{
color: white;
margin: .5rem 0;
margin-right: 1rem;
border-radius: 50%;
font-size: 1.5rem;
height: 4.5rem;
width: 4.5rem;
line-height: 4.5rem;
text-align: center;
}
.footer .credit{
font-size:1.5rem;
font-weight: normal;
letter-spacing: .05rem;
color: white;
border-top: .1rem solid #fff5;
padding:2,5rem 1rem;
text-align: center;
}
/*scrolleffects*/
.reveal{
position: relative;
transform: translateY(150px);
opacity: 0;
transition: all 1.5s ease;
}
.reveal.active{
transform: translateY(0px);
opacity: 1;
}
/*media queries*/
@media (max-width:1440px){
html{
font-size: 45%;
}
}
@media (max-width:1200px){
html{
font-size: 45%;
}
}
@media (max-width:991px){
section{
padding:0 3%;
padding-top: 7.5rem;
}
}
@media (max-width:768px){
header label{
visibility: visible;
opacity: 1;
text-shadow: 2px 2px 5px black;
}
header .navbar{
position: absolute;
top: 100%; left: 0;
width: 100%;
background: #fff;
padding: 1rem 2rem;
border-top: .1rem solid rgba(0, 0, 0, .2);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
transform-origin: top;
transform: scaleY(0);
opacity: 0;
transition: all .2s linear;
}
header .navbar a{
display: block;
margin: 2rem 0;
font-size:2rem;
color: black;
text-shadow: none;
font-weight:500;
}
header input:checked ~ .navbar{
transform: scaleY(1);
opacity: 1;
transition: all .2s linear;
}
header input:checked ~ label::before{
content: '\f00d'
}
.home{
flex-flow: column-reverse;
}
.home .image img{
width: 50%;
margin-left: 25%;
}
.home .content h3{
font-size:4rem;
}
.home .content h3 span{
font-size:4rem;
}
.home .content p{
font-size:2rem;
}
.features .box-container .box img{
height: 25rem;
}
.about-container{
flex-direction: column;
padding: 1rem;
}
.about-container img{
height:20rem;
margin-bottom: 3rem;
}
.about-container h3{
font-size:2rem;
}
.about-container p{
font-size:1.5rem;
padding:1rem;
}
}
@media (max-width:450px){
html{
font-size: 50%;
}
.features .box-container .box img{
height: 15rem;
}
.features .box-container{
flex-direction: column;
}
.information{
flex-direction: column;
}
}