@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
:root{
  --teal:#2D83A1;
  --serpent:#61D2D1;
  --orange:#fdaf67;
  --salmon:#fd789d;
  --magenta:#d108d6;
  --indigo:#013088;
  --gradient:linear-gradient(90deg, var(--orange), var(--salmon), var(--magenta));
  --gradient2:linear-gradient(90deg, var(--magenta), var(--indigo));
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none; outline: none;
  text-transform: capitalize;
  text-align: center;
}
*::selection{
  background: var(--teal);
  color: #fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  transition: 1s 0.7s ease-in-out;
}
body{
  background:#f9f9f9;
}
