<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="column">
        <p id="clicked_date"></p>
        <!-- Post Reminders -->
        <div class="post-reminders-div" style="border: 1px solid black; padding: 2rem; padding-top: 5px; border-radius: .5rem;">
            <form id="post-reminder-form" style="display:flex; flex-direction:column; text-align: center; align-items: center;">

                <div class="form-field">
                    <label>Type: </label>
                    <select id="post-reminder-type-option" name="type">
                        <option selected value="RMDR">Reminders</option>
                        <option value="TASK">Task</option>
                    </select>
                </div>

                <div class="form-text-field">
                    <input class="textfield-form" type="text" id="title" name="title" placeholder=" "><label for="title" class="form-label">Title</label>
                </div>

                <div class="form-field-date">
                    <label>Remind Date: </label>
                    <input class="form-date" type="date" name="remind-date">
                </div>
                <!-- Place holders while waiting for the recurring range -->
                <h1>Handling Range, 1 or 2?</h1>
                <h3>Range 1</h3>
                <div class="form-field-date">
                    <label>[placeholder] Start Remind Date: </label>
                    <input class="form-date" type="datetime-local" name="#">
                </div>

                <div class="form-field-date">
                    <label>[placeholder] End Date: </label>
                    <input class="form-date" type="datetime-local" name="#">
                </div>

                <h3>Range 2</h3>
                <input type="checkbox" name="" id=""> Sunday
                <input type="checkbox" name="" id=""> Monday
                <input type="checkbox" name="" id=""> Tuesday
                <input type="checkbox" name="" id=""> Wednesday
                <input type="checkbox" name="" id=""> Thursday
                <input type="checkbox" name="" id=""> Friday
                <input type="checkbox" name="" id=""> Saturday
                <!-- End place holders -->

                <div class="form-field">
                    <label>Is Recurring: </label>
                    <input type="checkbox" name="is-recurring">
                </div>

                <div class="form-text-field">
                    <input class="textfield-form" type="text" id="description" name="message" placeholder=" "></input><label for="description" class="form-label">Description</label>
                </div>
            </form>

            <div class="button-container">
                <button id="post-reminder-button">Post Reminder</button><textarea id="post-reminder-response" disabled placeholder="Response"></textarea></br></br>
            </div>

        </div>
        </br>
    </div>
    </div>
</body>

</html>