<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div id='close_modal'>&#10006;</div>
    </div>
    <div class="row">
        <div class="column">
            <h3>Create Task</h3>
            <task_preview></task_preview>
        </div>

        <div class="column">
            <p id="clicked_date"></p>
            <!-- Post Reminders -->
            <div class="modal-container">
                <div class="modal-image">
                    <img src="images/user_ico.png" alt="">
                </div>
            <div class="post-reminders-div">
                <form id="post-reminder-form">

                    <label class="edit-label">Type:
                    <input class="value" size="10" type="text" name="option-task" id="option-task" value="Task" disabled>
                    <input type="hidden" id="post-reminder-type-option" value="TASK" name="type">
                    </label>

                    <label class="edit-label">Title:
                    <input class="value" size="10" type="text" name="title">
                    </label>

                    <label class="edit-label">Date:
                    <input  class="value" size="10" type="date" name="remind-date">
                    </label>
                    </br>

                    <label class="edit-label">Description:
                    <textarea class="edit-desc" cols="18" name="message" placeholder="(Not Required)"></textarea>
                    </label>

                </form>
                <div class="modal-btn-container">
                <button id="post-reminder-button">Create Task</button><textarea id="post-reminder-response"
                    disabled></textarea></br></br>
                </div>
            </div>
            </div>
            </br>
        </div>
    </div>
</body>

</html>