<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/announcements.css">
    <script src="../static/script/announcements.js" async></script>
    <title>Announcements</title>
</head>

<body>
    <h1>Announcements</h1>

    <button>Task</button>
    <a href="calendar.html"><button>Calendar</button></a>
    <a href="announcements.html"><button>Announcements</button></a>
    <a href="../index.php"><button>Connect</button></a>
    <br>
    <br>

    <div id="notification_section">
    </div>
</body>

</html>