<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/announcements.css">
    <script src="https://kit.fontawesome.com/5357b59286.js" crossorigin="anonymous"></script>
    <script src="../static/script/announcements.js" async></script>
    <title>Trestle | Announcements</title>
</head>

<body>
    <!--Start of header-->
    <header id="navigation">
        <a href="#" class="logo">Trestle</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fas fa-bars"></label>
        <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#calendar">Calendar</a>
        <a href="#taskchecklist">Task Checklist</a>
        <a href="#announcements">Announcements</a>
        <a href="#settings">Settings</a>
        <a href="#help">Help</a>
        <a href="#logout">Logout</a>
        </nav>
    </header>
    <!--End of header-->
    <div class="wrapper">
        <div class="sidebar">
            <h2>Trestle</h2>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#"><i class="far fa-calendar"></i>Calendar</a></li>
                <li><a href="#"><i class="fas fa-tasks"></i>Task Checklist</a></li>
                <li><a href="#"><i class="fas fa-bullhorn"></i>Announcements</a></li>
                <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                <li><a href="#"><i class="far fa-question-circle"></i>Help</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
            </ul>
        </div>
        <!--Start of Announcements-->
        <div class="body-container">
            <h1 class="heading">Announcements</h1>
            <div class="button_container">
                <a href="task_checklist.html"><button>Task</button></a>
                <a href="calendar.html"><button>Calendar</button></a>
                <a href="announcements.html"><button>Announcements</button></a>
                <a href="../../api/tests.php"><button>Connect</button></a>
                </div>
            <br>
            <br>
            <div id="notification_section">
            </div>
        </div>
        <!--End of Announcements-->
    </div>
</body>

</html>