<!DOCTYPE html>
<html lang="en">

<head>
    <title>Calendar Modal</title>
    <link rel="stylesheet" href="../static/styles/calendar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="modal-head">
        <div id='close_modal'>&#10006;</div>
        <button class="task-reminders-btn cal-modal-button">Task and Reminders</button>
        <button class="add-sched-btn cal-modal-button">Add a Schedule</button>
    </div>
    <content>
    </content>
    <individual_modal></individual_modal>
</body>

</html>