<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Schedule</title>
</head>

<body>
    <div class="modal-head">
        <div id="cancel_edit">&#10006;</div>
        <h3>Edit Task</h3>
    </div>
    <!-- Edit Reminders -->
    <div class="modal-container">
        <div class="modal-image">
            <img src="images/user_ico.png" alt="">
        </div>
        <div class="edit-reminders-div">
            <form id="edit-reminder-form">
    
                <input type="text" name="reminder-id-field" class="edit-id" disabled>
                <input type="hidden" name="reminder-id">
                <label class="edit-label">Type:
                    <input class="value" type="text" size="10" name="option-task" id="option-task" value="Task" disabled>
                    <input type="hidden" name="type" id="edit-reminder-type-option" value="TASK">
                </label>
                
    
                <label class="edit-label">Title:
                    <input class="value" type="text" size="10" name="title">
                </label>
                
                <label class="edit-label">Date:
                    <input class="value" type="date" size="0" name="remind-date">
                </label>
                
                </br>
    
                <label class="edit-label">Description:
                    <textarea class="edit-desc" cols="18" name="message" placeholder="(Not Required)"></textarea>
                </label>
                
    
            </form>
            <div class="modal-btn-container">
            <button id="edit-reminder-button">Save Changes</button><textarea id="edit-reminder-response" disabled
                placeholder="Response"></textarea></br></br>
            </div>
        </div>
    </div>
    
</body>

</html>