<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Schedule</title>
</head>

<body>
    <div class="modal-head-edit">
        <button class="edit-left" id="cancel_edit">&#129052;</button>
        <h3>Edit Schedule</h3>
    </div>
    <!-- Edit Reminders -->
    <div class="edit-reminders-div" style="padding: 2rem; padding-top: 5px; text-align: center;">
        <form id="edit-reminder-form" style="display:flex; flex-direction:column; text-align: center; align-items: center;">

            <div style="display:none">
                Reminder ID:
                <input type="text" name="reminder-id">
            </div>

            <div class="form-field">
                <label>Type: </label>
                <select id="edit-reminder-type-option" name="type" disabled>
                    <option selected value="RMDR">Reminders</option>
                    <option value="TASK">Task</option>
                </select>
            </div>

            <div class="form-text-field">
                <input class="textfield-form" type="text" id="title" name="title" placeholder=" "><label for="title" class="form-label">Title</label>
            </div>

            <div class="form-field-date">
                <label>Remind Date: </label>
                <input class="form-date" type="datetime-local" name="remind-date">
            </div>

            <div class="form-field">
                <input type="checkbox" name="recurring_sun" value="0" class="recurring">
                <label> Sunday </label>
            </div>
            <div class="form-field">
                <input type="checkbox" name="recurring_mon" value="1" class="recurring">
                <label> Monday </label>
            </div>
            <div class="form-field">
                <input type="checkbox" name="recurring_tues" value="2" class="recurring">
                <label> Tuesday </label>
            </div>
            <div class="form-field">
                <input type="checkbox" name="recurring_wed" value="3" class="recurring">
                <label> Wednesday </label>
            </div>
            <div class="form-field">
                <input type="checkbox" name="recurring_thurs" value="4" class="recurring">
                <label> Thursday </label>
            </div>
            <div class="form-field">
                <input type="checkbox" name="recurring_fri" value="5" class="recurring">
                <label> Friday </label>
            </div>
            <div class="form-field">
                <input type="checkbox" name="recurring_sat" value="6" class="recurring">
                <label> Saturday </label>
            </div>

            <div class="form-text-field">
                <input class="textfield-form" type="text" id="description" name="message" placeholder=" "></input><label for="description" class="form-label">Description</label>
            </div>
        </form>

        <div class="button-container">
            <button id="edit-reminder-button">Edit Reminder</button><textarea id="edit-reminder-response" disabled placeholder="Response" style="display: none;"></textarea>
        </div>

    </div>
</body>

</html>