<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/tasks.css">
    <script src="../static/script/courseworks.js" async></script>
    <title>Task Checklist</title>
</head>

<body>
    <h1>Task Checklist</h1>

    <a href="task_checklist.html"><button>Task</button></a>
    <a href="calendar.html"><button>Calendar</button></a>
    <a href="announcements.html"><button>Announcements</button></a>
    <a href="../index.php"><button>Connect</button></a>
    <br>
    <br>

    <div id="tasks_section">
    </div>
</body>

</html>