<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/styles/calendar.css">
    <title>Document</title>
</head>

<body>
    <weeks>
        <week-name class="wks">
            <div class="wk">SUN</div>
            <div class="wk">MON</div>
            <div class="wk">TUE</div>
            <div class="wk">WED</div>
            <div class="wk">THU</div>
            <div class="wk">FRI</div>
            <div class="wk">SAT</div>
        </week-name>
        <dates>
            <div class="date"></div>
            <div class="date"></div>
            <div class="date"></div>
            <div class="date"></div>
            <div class="date"></div>
            <div class="date"></div>
            <div class="date"></div>
        </dates>
    </weeks>
</body>

</html>