<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <year>
        <january class="month-box">
            <div class="month-name">January</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </january>
        <february class="month-box">
            <div class="month-name">February</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </february>
        <march class="month-box">
            <div class="month-name">March</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </march>
        <april class="month-box">
            <div class="month-name">April</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </april>
        <may class="month-box">
            <div class="month-name">May</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </may>
        <june class="month-box">
            <div class="month-name">June</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </june>
        <july class="month-box">
            <div class="month-name">July</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </july>
        <august class="month-box">
            <div class="month-name">August</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </august>
        <september class="month-box">
            <div class="month-name">September</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </september>
        <october class="month-box">
            <div class="month-name">October</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </october>
        <november class="month-box">
            <div class="month-name">November</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </november>
        <december class="month-box">
            <div class="month-name">December</div>
            <div class="swn-container">
                <div>Su</div>
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>TH</div>
                <div>F</div>
                <div>Sa</div>
            </div>
            <div class="date-container"></div>
        </december>

    </year>
</body>

</html>