@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
:root{
--teal:#2D83A1;
--magenta:#d108d6;
--indigo:#013088;
--gradient2:linear-gradient(90deg, var(--magenta), var(--indigo));
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Rubik', sans-serif;
text-decoration: none; outline: none;
text-transform: capitalize;
}
*::selection{
background: var(--teal);
color: #fff;
}
html{
font-size: 62.5%;
overflow-x: hidden;
transition: 1s 0.7s ease-in-out;
}
body{
background:#f9f9f9;
}
.wrapper{
display: flex;
flex-direction: row;
position: relative;
}
.wrapper .sidebar{
position: fixed;
height: 100vh;
width: 30rem;
background: linear-gradient(to bottom, #2d016c,#170048);
color: #fff;
padding: auto 2rem;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
}
.wrapper .sidebar h2{
font-size: 3rem;
text-align: center;
padding: 4rem 2rem;
text-transform: uppercase;
}
.wrapper .sidebar ul li{
padding: 2rem;
border-bottom: 1px solid rgba(0,0,0,0.09);
border-top:1px solid rgba(225,225,225,0.09);
}
.wrapper .sidebar ul li:hover{
background:#2d016c;
}
.wrapper .sidebar ul li a{
font-size: 1.5rem;
color: #fff;
text-decoration: none;
display:block;
transition: all 0.5s ease-in-out;
}
.wrapper .sidebar ul li a:hover{
transform: translateX(0.8rem);
}
.wrapper .sidebar ul li a i{
width: 2.5rem;
}
#navigation{
opacity: 0;
}
button {background-image: linear-gradient(to right, #2d016c,#170048)}
button{
margin: 10px;
padding: 1rem 2rem;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
border-radius: 10px;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
border: none;
}
button:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
transform: scale(1.1);
}
button:hover{
transform: scale(1.1);
}
.heading{
text-align: center;
background: var(--gradient2);
color:transparent;
-webkit-background-clip: text;
background-clip:text;
font-size:3.5rem;
text-transform: uppercase;
padding:1rem;
text-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
}
header{
position: fixed;
top: 0; left: 0;
padding: 2rem 9%;
width: 100%;
background: rgba(43,14,100,0.95);
backdrop-filter: blur(5px);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
display:flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
}
header .logo{
font-size: 2.5rem;
font-weight: bold;
color:white;
text-shadow: 2px 2px 5px black;
text-transform: uppercase;
}
header .navbar a{
font-size: 1.8rem;
margin-left: 2rem;
color:white;
text-shadow: 2px 2px 5px black;
}
header .navbar a:hover{
color: var(--teal);
}
header input{
display: none;
}
header label{
font-size: 3rem;
color: white;
cursor: pointer;
visibility: hidden;
opacity: 0;
}
header label:hover{
color: var(--teal);
}
.body-container{
padding-bottom: 5rem;
margin-left: 15%;
margin-top:5rem;
}
.button_container{
text-align: center;
}
h1{
text-align: center;
}
.notification {
background: #fff;
background-size: cover;
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
display: flex;
flex-direction: row;
justify-content: flex-start;
font-size:2rem;
margin: 2rem 40rem;
border-radius: .5rem;
padding: .8rem;
}
.contents {
display: block;
}
.source_image {
margin-right: 10px;
}
.title {
margin-right: 5px;
font-weight: bold;
}
/*media queries*/
@media (max-width:1200px){
html{
font-size: 45%;
}
.body-container{
margin-left: 21%;
}
}
@media (max-width:991px){
section{
padding:0 3%;
padding-top: 7.5rem;
}
}
@media (max-width:768px){
#navigation{
opacity: 1;
}
header label{
visibility: visible;
opacity: 1;
text-shadow: 2px 2px 5px black;
}
header .navbar{
position: absolute;
top: 100%; left: 0;
width: 100%;
background: #fff;
padding: 1rem 2rem;
border-top: .1rem solid rgba(0, 0, 0, .2);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
transform-origin: top;
transform: scaleY(0);
opacity: 0;
transition: all .2s linear;
}
header .navbar a{
display: block;
margin: 2rem 0;
font-size:2rem;
color: black;
text-shadow: none;
}
header input:checked ~ .navbar{
transform: scaleY(1);
opacity: 1;
transition: all .2s linear;
}
header input:checked ~ label::before{
content: '\f00d'
}
.body-container{
margin: auto;
margin-top:10rem;
}
.wrapper .sidebar{
display: none;
}
}
@media (max-width:450px){
html{
font-size: 50%;
}
}