/* use rem for parent elements */
/* year */
year {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
}

.month-box {
    border: 1px solid lightgray;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.month-name {
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 2%;
}

/* short week name container */
.swn-container {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.date-container {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.date-box {
    cursor: default;
    border: 1px solid lightgray;
    padding: 5px;
    text-align: center;
}

.active {
    background-color: lightblue;
}

.current_date {
    background-color: aqua;
}

/* month and week view uses these*/

/* week in month */
.wks {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(7, 1fr);
}
.wk {
    border: 1px solid lightgray;
    background-color: white;
    font-size: 0.9em;
    color: gray;
    text-align: center;
}
dates {
    height: 100%;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
}
/* dates in month view */
.date {
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
}

.container {
    height: 100vh;
}

#close_modal {
    cursor: pointer;
}
/* based on TYPE*/
.TASK {
    background-color: burlywood;
    margin: 1px;
}

.RMDR {
    background-color: green;
    margin: 1px;
}

/* based on source */
.CANVAS {
    background-color: chocolate;
    margin: 1px;
}

.GCLASS {
    background-color: coral;
    margin: 1px;
}

.disabled {
    cursor: default;
    border: 1px solid lightgray;
    color: lightgray;
}
/* Modal designs */
tasks_holder > div {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.1rem;
}

tasks_holder > div:hover {
    border: 2px solid black;
}
tasks_holder > div > p {
    height: fit-content;
    font-size: 1rem;
}

tasks_holder > div > actions {
    height: fit-content;
    color: red;
    align-self: center;
    margin-left: auto;
}

tasks_holder > div > actions > .update_btn {
    cursor: pointer;
    color: blue;
    background-color: white;
    border: none;
}

tasks_holder > div > actions > .delete_btn {
    cursor: pointer;
    color: red;
    background-color: white;
    border: none;
}

.no-content {
    color: gray;
}

/* individual tasks/reminders design */
preview_card_user {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
}

preview_card_user > preview_type,
preview_date {
    margin-left: auto;
}

preview_card_user > preview_message {
    border: 1px solid black;
    padding: 0.5rem;
}

preview_card_user > preview_isChecked {
    margin-left: auto;
}

/* Individual modal courseworks design */
preview_card_source {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
}

preview_card_source > preview_date,
preview_type {
    margin-left: auto;
}

preview_card_source > preview_description {
    border: 1px solid black;
    padding: 0.5rem;
}

preview_card_source > preview_link {
    margin-left: auto;
}
