* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.date_navigation {
    margin-bottom: 50px;
}

.container {
    margin: 10px;
}

.box-day {
    display: inline-block;
    border: 1px solid lightgray;
    width: 100px;
    height: auto;
    background-color: white;
    padding: 5px;
    text-align: center;
}
.box {
    display: inline-flex;
    border: 1px solid lightgray;
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 5px;
}

.box3 {
    display: inline-flex;
    border: 1px solid lightgray;
    width: 100px;
    height: 100px;
    background-color: white;
    color: lightgray;
    padding: 5px;
}

.box:hover {
    cursor: pointer;
    border: 1px solid blue;
}

.box-4 {
    display: inline-block;
    border: 1px solid lightgray;
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.small_box {
    display: inline-block;
    border: 1px solid lightgray;
    width: 27px;
    height: 27px;
    background-color: white;
    /* padding: 5px; */
    text-align: center;
}

.small_box-2 {
    display: inline-block;
    border: 1px solid lightgray;
    width: 27px;
    height: 27px;
    background-color: white;
    background-color: lightgreen;
    text-align: center;
}

.small_box-3 {
    cursor: default;
    display: inline-block;
    border: 1px solid lightgray;
    width: 27px;
    height: 27px;
    background-color: white;
    color: lightgray;
    text-align: center;
}

.small_box:hover,
.small_box-2:hover {
    cursor: pointer;
    border: 1px solid blue;
}

.active {
    background-color: blueviolet;
}

.small_box-no-outline {
    display: inline-block;
    border: 1px solid white;
    width: 27px;
    height: 27px;
    background-color: white;
    text-align: center;
}

.month_name {
    display: block;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 2%;
}

.long_box {
    display: inline-flex;
    border: 1px solid lightgray;
    width: 150px;
    height: 200px;
    max-height: fit-content;
    background-color: white;
    padding: 5px;
}

.long_box-day {
    display: inline-block;
    border: 1px solid lightgray;
    width: 150px;
    height: auto;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.current_day {
    background-color: lightgreen;
}

.long_box:hover {
    cursor: pointer;
    border: 1px solid blue;
}

.long_box-3 {
    display: inline-flex;
    border: 1px solid lightgray;
    width: 150px;
    height: 200px;
    max-height: fit-content;
    color: lightgray;
    padding: 5px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.dot-recurring {
    height: 25px;
    width: 25px;
    background: rgb(110, 11, 128);
    background: linear-gradient(
        112deg,
        rgba(110, 11, 128, 1) 0%,
        rgba(229, 19, 121, 1) 100%
    );
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.text_div {
    display: block;
}

.add_sched_modal {
    display: none;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.493);
    z-index: 1;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.modal_content {
    padding: 10px 0px 0px 20px;
    margin: 10px auto auto auto;
    overflow: auto;
    background-color: white;
    width: 95%;
    height: fit-content;
    border-radius: 10px;
}

#close_modal {
    cursor: pointer;
    float: right;
    color: red;
    margin-right: 20px;
}
